<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 m-auto">
                <!-- Page Title -->
                <h1>Contact Us</h1>
                <!-- Page Description -->
                <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus magna justo, lacinia
                    eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta.</p>
            </div>
        </div>
    </div>
</section>

<!--====  End of Page Title  ====-->


<!--=====================================
=            Address and Map            =
======================================-->
<section class="address">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <div class="block">
                    <div class="address-block text-center mb-5">
                        <div class="icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <div class="details">
                            <h3>(00) 789 456 7890 (USA)</h3>
                            <h3>(88) 016 725 0455 (UK)</h3>
                        </div>
                    </div>
                    <div class="address-block text-center">
                        <div class="icon">
                            <i class="ti-map-alt"></i>
                        </div>
                        <div class="details">
                            <h3>36. St Michael’s St, Oxford OX1, UK</h3>
                            <h3>123, Pennsylvania, USA</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63671.742078878575!2d-73.64407950501655!3d4.124756732213737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3e2ddfba283211%3A0x537e40041d7b20c2!2sVillavicencio%2C%20Meta!5e0!3m2!1ses!2sco!4v1677182966484!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>

<!--====  End of Address and Map  ====-->
<section class="contact-form section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-5 text-center">Drop us a mail</h2>
            </div>
            <div class="col-12">
                <form action="">
                    <div class="row">
                        <!-- Name -->
                        <div class="col-md-6 mb-2">
                            <input class="form-control main" type="text" placeholder="Name" required>
                        </div>
                        <!-- Email -->
                        <div class="col-md-6 mb-2">
                            <input class="form-control main" type="email" placeholder="Your Email Address" required>
                        </div>
                        <!-- subject -->
                        <div class="col-md-12 mb-2">
                            <input class="form-control main" type="text" placeholder="Subject" required>
                        </div>
                        <!-- Message -->
                        <div class="col-md-12 mb-2">
                            <textarea class="form-control main" name="message" rows="10"
                                placeholder="Your Message"></textarea>
                        </div>
                        <!-- Submit Button -->
                        <div class="col-12 text-right">
                            <button class="btn btn-main-md">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>