<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->

                <form class="md-float-material form-material" (ngSubmit)="login()" [formGroup]="formlogin">
                    <div class="text-center">
                        <img src="assets/images/logo.png" alt="logo.png">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center">Sign In</h3>
                                </div>
                            </div>
                            <div class="form-group form-primary">
                                <input type="text" name="email" id="email" formControlName="email" class="form-control">
                                <span class="form-bar" style="color: red;" *ngIf="formlogin.controls['email'].errors && formlogin.controls['email'].touched">Email is required</span>
                                <label class="float-label">Your Email Address</label>
                            </div>
                            <div class="form-group form-primary">
                                <input type="password" name="password" id="password" formControlName="password" class="form-control">
                                <span class="form-bar" style="color: red;" *ngIf="formlogin.controls['password'].errors && formlogin.controls['password'].touched">password is required</span>
                                <label class="float-label">Password</label>
                            </div>
                            <div class="form-group form-primary">
                                <input type="number" name="checkHuman" id="checkHuman" formControlName="checkHuman"  class="form-control">
                                <span class="form-bar" style="color: red;" *ngIf="formlogin.controls['checkHuman'].errors && formlogin.controls['checkHuman'].touched">checkHuman is required</span>
                                <label class="float-label">{{ humanCheck[0] }} + {{ humanCheck[1] }}</label>
                            </div>
                            <div class="row m-t-25 text-left">
                                <div class="col-12">
                                    <div class="checkbox-fade fade-in-primary d-">
                                        <label>
                                            <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="text-right f-w-600"> Register</a>
                                        </label>
                                    </div>
                                    <div class="forgot-phone text-right f-right">
                                        <a href="auth-reset-password.html" class="text-right f-w-600"> Forgot Password?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="submit"
                                        class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign
                                        in</button>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-10" *ngFor="let step of steps">
                                    <p class="text-inverse text-left m-b-0">{{ step | customTranslations }}</p>
                                </div>
                                <div class="col-md-2">
                                    <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end of form -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>